.button {
    background-color: desaturate( $color2, 50% );
    border-radius: .33em;
    border: .2em solid rgba(255,255,255,.1);
    box-shadow: 0 1px 10px 3px rgba(0,0,0,0.15);
    color: #fff;
    display: inline-block;
    padding: 1.5em;
    transition: background-color 125ms linear;

    &-registry {
        width: 66%;

        @media screen and (max-width: 400px){
            width: 100%;
        }

    }

    &:hover {
        background-color: $primary;
    }

}
