footer {
    background-color: $bg1;
    bottom: 0;
    font-size: .875rem;
    font-style: italic;
    left: 0;
    opacity: .66;
    padding: .5rem;
    position: absolute;
    text-align: center;
    width: 100%;
}
