.text {

    h2 {
        // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 4rem;
        padding-bottom: .25em;
        margin-bottom: .25em;

        @media screen and (max-width: 400px){
            font-size: 3rem;
        }
        
    }

}

.notes {
    font-style: italic;
}
